body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}


.buttons {
    background-color: goldenrod;
    margin: .5rem;
    padding: .5rem;
    border-radius: 20px;
    border-color: whitesmoke;
    font-weight: 800;
}